################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EpubGenerate/bin
/EpubGenerate/obj
/.vs
/packages
/DocXFolderToEpubGUI/obj
/DocXFolderToEpubGUI/bin/Debug
/DocXFolderToEpubGUI/Properties
/DocXFolderToEpubGUI/publish
/DocXFolderToEpubGUI/bin
/Folder2Epub/obj
/Folder2Epub/bin
